<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->


      <!-- Grid row -->


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
    Created By Shreyansh Jain
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</html>
